{
    "records": [
        {
            "attributes": {
                "type": "FC_Settings__c",
                "referenceId": "FC_Settings__cRef1"
            },
            "FC_Connections__c": "${FC_HOST}/sf-org-connection",
            "FC_Dashboard__c": "${FC_HOST}/sf-org-visualization",
            "FC_Functions__c": "${FC_HOST}/sf-org-functions"
        }
    ]
}
