{
    "records": [
        {
            "attributes": {
                "type": "FC_Settings__c",
                "referenceId": "FC_Settings__cRef1"
            },
            "FC_Connection__c": "${FC_HOST}/sf-org-connection/",
            "FC_Dashboard__c": "${FC_HOST}/sf-org-visualization/",
            "FC_Functions__c": "${FC_HOST}/sf-org-functions/",
            "FC_Cost_Analysis__c": "${FC_HOST}/sf-org-cost-analysis/",
            "FC_Resources__c": "${FC_HOST}/sf-org-resources/",
            "FC_Iframe_Width__c": "100%",
            "FC_Iframe_Height__c": "900px"
        }
    ]
} 
